@import "../util";
.hashtag{
    margin:10px 13%;
    display: flex;
    flex-wrap: wrap;
}
.hashtag_item{
    background-color:#c8d2e7;
    color:white;
    margin:3px;
    padding:5px 15px;
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
}
.hashtag_item.active{
    background-color: $primaryColor;
}